import(MASS,Matrix)

export(ad.simu.jack,adc.simu.jack,adaa.simu.jack,adm.simu.jack,ad.simu,adc.simu,adaa.simu,adm.simu,ad.simudata,adc.simudata,adaa.simudata,adm.simudata,ad4.reml,ad4.reml.jack,adc4.reml,adc4.reml.jack,ad4.mq,ad4.mq.jack,adc4.mq,adc4.mq.jack,adaa.reml.jack,adm.reml.jack,adrc.reml,adrc.reml.jack,adrc.mq,adrc.mq.jack,ad.mq,adc.mq,adm.mq,adaa.mq,ad.simu,adc.simu,adm.simu,adaa.simu,ad.mq.jack,adc.mq.jack,adm.mq.jack,adaa.mq.jack,adrc.reml,adrc.reml.jack,ad.reml,adc.reml,adm.reml,adaa.reml,ad.reml.jack,adc.reml.jack,adm.reml.jack,adaa.reml.jack,stab.fw,stab.mean,stab.var)

